@charset "utf-8";
/* CSS Document */

#image_slider{
    position: relative;
	width:610px;
    height: 280px;
    padding:0;
	margin-left:auto;
	margin-right:auto;
}
#image_slider li{
    max-width: 100%;
    list-style: none;
	display:inline;
}
