@charset "utf-8";
/* CSS Document */

.container{
	width:800px;
	height:400px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  	background-color:#666;
  	margin-left:auto;
  	margin-right:auto;
	margin-bottom:50px;
}
.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 300px;
	left:0;
}
#image_slider li{
	position:relative;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	background-color:#FFF;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
	height:300px;
	overflow:hidden;
}